&kscan0 {
    col-gpios
        = <&gpio1 11 GPIO_ACTIVE_HIGH>  // D14 - col_inner
        , <&gpio1 13 GPIO_ACTIVE_HIGH>  // D15 - col_index
        , <&gpio1 15 GPIO_ACTIVE_HIGH>  // D18 - col_middle
        , <&gpio0 2  GPIO_ACTIVE_HIGH>  // D19 - col_ring
        , <&gpio0 29 GPIO_ACTIVE_HIGH>  // D20 - col_pinky
        , <&gpio0 31 GPIO_ACTIVE_HIGH>  // D21 - col_extra
        ;
};
